app:
  restart: always
  environment:
    SITE_HOSTNAME: {{ app_hostname }}
    DJANGO_GA_ACCOUNT: {{ google_analytics_id }}
admin:
  restart: always
  environment:
    SITE_HOSTNAME: {{ admin_hostname }}
memcached:
  restart: always
nginx:
  restart: always
  ports:
   - "80:80"
   - "443:443"
  environment:
    ADMIN_SSL_CERT: |
      {{ admin_ssl_cert|indent(6) }}
    ADMIN_SSL_KEY: |
      {{ admin_ssl_key|indent(6) }}

