{% extends 'list-pages/base.html' %}
{% block topmatter %}
  <h1>Hunting Land for Lease</h1>
  <p style="font-weight: bold"> Due to our desire for quality wildlife management we allow current hunters to have the first
  right to release the property for the next hunting season. Understand we cannot allow potential
  hunters to access a tract or initiate a future lease until the end of a previous lease. Therefore,
  we ask that any potential hunters PLEASE WAIT UNTIL A PROPERTY IS LISTED AS “AVAILABLE NOW FOR
  LEASE” BEFORE CALLING OR EMAILING.</p>
{% endblock %}

{% block extracss %}
  <style>
    .hunting-land-list-data div {
      padding-bottom: 0.1em;
    }
  </style>
{% endblock %}

{% block entries %}
  {% regroup object_list by county as county_list %}
  {% for county in county_list %}
  <div>
    <a href="#{{ county.grouper }}">{{ county.grouper }} County, NC</a>
  </div>
  {% endfor %}
  {% for county in county_list %}
    <h2 id="{{ county.grouper }}">{{ county.grouper }} County, NC</h2>
  {% for property in county.list %}
    <div class="property" style="display: flex; align-items: center; border-bottom: 1px solid #e4e6e8; margin-bottom: 1em;">
      <div style="flex: 7" class="hunting-land-list-data">
        <div style="font-weight: bold; font-size: 120%;"><a href="{% url 'hunting-land-detail' slug=property.slug %}">{{ property.property_name }}</a></div>
        {% if not property.available_now %}
        <div style="color: #b24330">Currently under lease</div>
        {% endif %}
        <div style="font-style: italic;">{{ property.description|linebreaks }}</div>
        <div>{{ property.acreage }} Acres</div>
        <div><span style="font-weight: bold;">{% if property.available_now %}Available now for lease{% else %}<span style="color: #b24330">Not available until {{ property.available_date | date:"n/j/Y"}} for lease</span>{% endif %}</span></div>
      </div>
      <div style="flex: 2; margin-left: 1em; height: auto;">
        <a href="{% url 'hunting-land-detail' slug=property.slug %}"><img src="{{ property.images.first.file.url }}" style="width: 100%"/></a>
      </div>
    </div>
  {% endfor %}
  {% endfor %}

{% endblock %}
