{% extends 'list-pages/base.html' %}
{% block topmatter %}
  <h1>Hunting Land for Lease</h1>
{% endblock %}

{% block extracss %}
  <style>
    .hunting-land-list-data div {
      padding-bottom: 0.1em;
    }
  </style>
{% endblock %}

{% block entries %}
  {% regroup object_list by county as county_list %}
  {% for county in county_list %}
  <div>
    <a href="#{{ county.grouper }}">{{ county.grouper }} County, NC</a>
  </div>
  {% endfor %}
  {% for county in county_list %}
    <h2 id="{{ county.grouper }}">{{ county.grouper }} County, NC</h2>
  {% for property in county.list %}
    <div class="property" style="display: flex; align-items: center;">
      <div style="width: 30%; height: auto;">
        <a href="{% url 'hunting-land-detail' slug=property.slug %}"><img src="{{ property.images.first.file.url }}" style="max-width: 100%;"/></a>
      </div>
      <div style="padding-left: 1rem;" class="hunting-land-list-data">
        <div style="font-weight: bold; font-size: 120%;"><a href="{% url 'hunting-land-detail' slug=property.slug %}">{{ property.property_name }}</a></div>
        <div style="font-style: italic;">{{ property.description|linebreaks }}</div>
        <div>{{ property.acreage }} Acres</div>
        <div>Available <span style="font-weight: bold;">{% if property.available_now %}now{% else %}as of {{ property.available_date | date:"n/j/Y"}}{% endif %}</span> for lease</div>
      </div>
    </div>
  {% endfor %}
  {% endfor %}

{% endblock %}
