{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="contenttitle">About Us</div>

<div style="text-align:center;">
  <img src="{% static "images/grouppic-2014.jpg" %}" style="border:2px solid black;" alt="Group Picture" />
</div>


<p style="padding-top:1em; font-weight:bold; clear:left;">Services Provided</p>
<p>Founded in 1970, Tom Keith &amp; Associates, Inc. is a multidisciplinary appraisal firm with clients primarily in the Southeast United States. Most appraisals are performed for the owners, purchasers, lenders, and their advisors. Our business valuation clients range from the small one-person sole proprietorship to the regional companies. Our real estate appraisal clients range includes home owners and purchasers to the large Fortune 500 companies. Our success depends on referrals from attorneys, financial institutions, CPA's, our peers, and former clients. Our timely and properly documented valuation reports serve our client's needs in the most complex and demanding circumstances.</p>
<p>Our specialty in both business and real estate valuations provides our staff with expertise in the valuation of closely-held businesses with large real estate assets and expertise in the appraisal of special purpose real estate where its value is related to the business occupying the space. The firm's staff enjoys access to a number of extensive proprietary in-house data bases and outside data sources.</p>
<div style="float:right; padding:0 1em; text-align:center; margin-top:-2em;">
  <img src="{% static "images/fcglogo.gif" %}" alt="Financial Consulting Group Logo" width="80" height="106" style="border: 2px solid black; padding:10px 0;" /><br />
</div>
<p>The firm is affiliated with Financial Valuation Group International, allowing us to increase our depths of experience, judgment, independence, and resources provided by its affiliates throughout the United States.</p>

<p>The firm's specialists prepare independent, objective business valuations and real estate appraisals for the following reasons:</p>
<ul style="padding-left:2em;">
  <li>Gift and Estate Taxation and planning</li>
  <li>Equitable Distribution (Divorce)</li>
  <li>Buy/sell Agreements</li>
  <li>Debt Restructuring</li>
  <li>Review of other Reports</li>
  <li>Condemnation</li>
  <li>Loans</li>
  <li>Consulting</li>
  <li>Charitable contributions</li>
</ul>

<p>Our company offers the following services:</p>
 <ul style="width:40%; padding-left:2em; float:left;">
  <li>Valuation of Closely-Held Businesses and Professional Practices</li>
  <li>Commercial and Residential Real Estate Appraisals</li>
  <li>Damage Appraisals</li>
  <li>Intangible Asset Valuation</li>
  <li>Intangible and Tangible Leasehold Valuation</li>
  <li>Purchase Price Allocations</li>
 </ul>
 <ul style="float:left; padding-left:2.5em;">
  <li>Discount Analysis</li>
  <li>Feasibility Studies</li>
  <li>Insurance Valuations</li>
  <li>Advalorem Tax Consulting</li>
  <li>Use Value Appraisals</li>
  <li>Fractional Interest Appraisals</li>
  <li>Expert Testimony</li>
  <li>Fairness Opinions</li>
 </ul>

  <p style="clear:both; padding-top:1em;">Our Appraisers have expertise in many areas including the following:</p>
  <div>
    <ul style="float:left; padding-left:2em;">
      <li>Manufacturing</li>
      <li>Wholesale and Distribution</li>
      <li>Retail</li>
      <li>Service Industries</li>
      <li>Health Care</li>
      <li>Construction</li>
      <li>Professional Practices</li>
      <li>Family Limited Partnerships</li>
    </ul>
    <ul style="float:left; padding-left:2.5em;">
      <li>Limited Liability Companies</li>
      <li>Sole Proprietorships</li>
      <li>Land and Project Developments</li>
      <li>Dealerships</li>
      <li>Convenience Store Chains</li>
      <li>Trucking Industry</li>
      <li>Agricultural Corporations</li>
      <li>Service Industries</li>
    </ul>
    <div style="clear: both">
  </div>
  <div style="width: 100%; text-align: center; padding-top: 1em; padding-bottom: 1em;">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/y0bNmpE8TVY" frameborder="0" allowfullscreen></iframe>
  </div>
{% endblock %}
