{% extends 'base.html' %}

{% block content %}

 <div class="contenttitle">How to Become an Appraiser</div>
    The North Carolina Appraisal Board has information on Education and Requirements for becoming an appraiser.
      <p>Their Main page is at</p>
      <p><a href="http://www.ncappraisalboard.org">http://www.ncappraisalboard.org</a></p>
      <p>Information on becoming an Appraiser is at</p>
      <p><a href="http://www.ncappraisalboard.org/application-information/become_appraiser.htm">
      http://www.ncappraisalboard.org/application-information/become_appraiser.htm</a></p>
      <p>Information on Education and Educational Institutions is at</p>
      <p><a href="http://www.ncappraisalboard.org/education/qualifyingedu.htm">http://www.ncappraisalboard.org/education/qualifyingedu.htm</a></p>

{% endblock %}
