{% extends 'base.html' %}

{% block content %}

      <div class="contenttitle">Tom Keith &amp; Associates, Inc.</div>
      <p><strong>Mailing Address:</strong><br />121 S. Cool Spring St.<br />Fayetteville, NC 28301</p>
      <p><strong>Phone #:</strong><br />(910) 323-3222</p>
      <p><strong>Fax #:</strong><br />(910) 323-1180</p>
      <p><strong>Web site:</strong><br /><a href="http://www.keithvaluation.com">http://www.keithvaluation.com</a></p>
      <p><strong>Email:</strong><br /><a href="mailto:info@keithvaluation.com">Click Here to Email Us</a></p>
      <p><strong>Map:</strong><br /></p>
      <noscript><h4>Sorry, you need JavaScript enabled to use the map.</h4></noscript>

<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=121+S+Cool+Spring+St,+Fayetteville,+NC+28301&amp;sll=35.050165,-78.872995&amp;sspn=0.024242,0.038581&amp;ie=UTF8&amp;ll=35.051114,-78.873768&amp;spn=0.016863,0.027466&amp;z=15&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=121+S+Cool+Spring+St,+Fayetteville,+NC+28301&amp;sll=35.050165,-78.872995&amp;sspn=0.024242,0.038581&amp;ie=UTF8&amp;ll=35.051114,-78.873768&amp;spn=0.016863,0.027466&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>

{% endblock %}
