{% extends 'base.html' %}
{% block extracss %}
  <style>
    .contents table {
      border: 1px solid #FFFFFF;
      max-width: 100%;
      text-align: center;
      border-collapse: collapse;
      margin: 1em auto;
      table-layout: fixed;
    }
    .contents table td, .contents table th {
      border: 1px solid #FFFFFF;
      padding: 3px 2px;
    }
    .contents table tbody td {
      font-size: 13px;
      border: 1px solid #696969;
    }
    .contents table tr:nth-child(even) {
      background: #D0E4F5;
    }
    .contents table thead {
      border-bottom: 5px solid #FFFFFF;
    }
    .contents table thead th {
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      border-left: 2px solid #FFFFFF;
    }
    .contents table thead th:first-child {
      border-left: none;
    }

    tr.highlight {
      font-weight: bold;
      font-size: 80%;
    }

    .contents h3 {
      margin-top: 1em;
      margin-bottom: 0.5em;
      text-align: center;
    }

    .contents .subtitle {
      font-weight: bold;
      font-size: 12px;
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
<div class="contenttitle">Expert Testimony by Tom J. Keith &amp; Associates</div>

<h3>Appraiser Results Of Condemnation Awards</h3>
<div class="subtitle"><strong>Bold</strong> appraisals indicate jury trials</div>
<table>
  <thead><tr><th>Owner</th><th>Date</th><th>Property Type</th><th>Attorney</th><th>Appraiser</th><th>Condemnor Offer</th><th>Appr's Est. of Damages</th><th>Settement</th><th>Gain Above Condemnor Offer</th><th>% Increase Over Offer</th></tr></thead><tbody>
    <tr><td>N. Hester</td><td>9/20/2017</td><td>Rural Dev. Land</td><td>Wilson</td><td>J. Bullard</td><td>$8,377</td><td>$703,221</td><td>$200,000</td><td>$191,623</td><td>2287.49%</td></tr>
    <tr><td>S. Oats</td><td>9/8/2017</td><td>Comm. Land</td><td>Rand</td><td>B. Wills</td><td>$8,000</td><td>$84,665</td><td>$62,500</td><td>$54,500</td><td>681.25%</td></tr>
    <tr><td>Coley Farms</td><td>6/12/2017</td><td>Dev. Land</td><td>Harrington</td><td>J. Bullard</td><td>$199,800</td><td>$491,000</td><td>$350,000</td><td>$150,200</td><td>75.18%</td></tr>
    <tr><td>Griffin</td><td>5/1/2017</td><td>Retail</td><td>Wilkie</td><td>J. Bullard</td><td>$123,000</td><td>$457,000</td><td>$420,000</td><td>$297,000</td><td>241.46%</td></tr>
    <tr class="highlight"><td>Clark Bros.</td><td>3/2/2017</td><td>Dev. Land</td><td>Wilson</td><td>J. Bullard</td><td>$70,965</td><td>$900,000</td><td>$550,000</td><td>$479,035</td><td>675.03%</td></tr>
    <tr><td>Hall, George</td><td>2/15/2017</td><td>Poultry Farm</td><td>Brown</td><td>J. Bullard</td><td>$230,000 </td><td>$895,000</td><td>$660,000</td><td>$430,000</td><td>186.96%</td></tr>
    <tr class="highlight"><td>Collins Inc</td><td>11/6/2016</td><td>Dealership</td><td>Wilson</td><td>J. Bullard</td><td>$160,000 </td><td>$1,914,275</td><td>$1,700,000</td><td>$1,540,000</td><td>962.50%</td></tr>
    <tr><td>Little Thrift</td><td>3/15/2016</td><td>Convenience</td><td>Wiggins</td><td>J. Bullard</td><td>$240,000</td><td>$609,000</td><td>$517,000</td><td>$277,000</td><td>115.42%</td></tr>
    <tr><td>Wolford</td><td>11/24/2015</td><td>Dev. Land</td><td>Yarborough</td><td>J. Bullard</td><td>$52,250</td><td>$224,400</td><td>$155,000</td><td>$102,750</td><td>196.65%</td></tr>
    <tr class="highlight"><td>215 S. Kerr</td><td>9/2/2015</td><td>Office</td><td>Yarborough</td><td>J. Bullard</td><td>$214,000</td><td>$460,905</td><td>$355,000</td><td>$141,000</td><td>65.89%</td></tr>
    <tr><td>Allison Prop.</td><td>7/13/2015</td><td>Office</td><td>Yarborough</td><td>J. Bullard</td><td>$76,400</td><td>$301,145</td><td>$255,000</td><td>$178,600</td><td>233.77%</td></tr>
    <tr><td>Spires</td><td>6/5/2015</td><td>C-Store</td><td>Yarborough</td><td>J. Bullard</td><td>$554,850</td><td>$1,624,650</td><td>$1,500,000</td><td>$945,150</td><td>170.34%</td></tr>
    <tr><td>White Invest.</td><td>11/25/2014</td><td>Trucking</td><td>Yarborough</td><td>J. Bullard</td><td>$201,100</td><td>$419,395</td><td>$315,000</td><td>$113,900</td><td>56.64%</td></tr>
    <tr><td>Wolford</td><td>11/15/2014</td><td>Indust. Land</td><td>Yarborough</td><td>J. Bullard</td><td>$52,250</td><td>$224,000</td><td>$155,000</td><td>$102,750</td><td>196.65%</td></tr>
    <tr><td>Hubbard</td><td>11/1/2014</td><td>Plumb. Supply</td><td>Yarborough</td><td>J. Bullard</td><td>$125,000</td><td>$409,841</td><td>$292,000</td><td>$167,000</td><td>133.60%</td></tr>
    <tr><td>Daniels</td><td>8/4/2014</td><td>Retail</td><td>Pitts</td><td>J. Bullard</td><td>$254,687</td><td>$360,300</td><td>$340,000</td><td>$85,313</td><td>33.50%</td></tr>
    <tr><td>Maxwell</td><td>7/9/2014</td><td>Dev. Land</td><td>Yarborough</td><td>J. Bullard</td><td>$10,164</td><td>$33,518</td><td>$28,500</td><td>$18,336</td><td>180.40%</td></tr>
    <tr><td>Spires</td><td>7/9/2014</td><td>Comm Land</td><td>Yarborough</td><td>J. Bullard</td><td>$434,575</td><td>$1,057,000</td><td>$810,000</td><td>$375,425</td><td>86.39%</td></tr>
    <tr><td>Tew</td><td>5/20/2014</td><td>Vac Land</td><td>Yarborough</td><td>J. Bullard</td><td>$10,890</td><td>$37,000</td><td>$25,000</td><td>$14,110</td><td>129.57%</td></tr>
    <tr><td>Alhobishi</td><td>5/1/2014</td><td>C-Store</td><td>Yarbourgh</td><td>J. Bullard</td><td>$11,225</td><td>$42,000</td><td>$35,275</td><td>$24,050</td><td>214.25%</td></tr>
    <tr><td>Moore</td><td>3/17/2014</td><td>C-Store</td><td>Yarborough</td><td>J. Bullard</td><td>$68,300</td><td>$120,000</td><td>$91,500</td><td>$23,200</td><td>33.97%</td></tr>
    <tr><td>Cashwell</td><td>3/17/2014</td><td>SFR</td><td>Yarborough</td><td>J. Bullard</td><td>$22,000</td><td>$70,000</td><td>$52,500</td><td>$30,500</td><td>138.64%</td></tr>
    <tr><td>Allen</td><td>2/3/2014</td><td>SFR</td><td>Yarborough</td><td>J. Bullard</td><td>$69,000</td><td>$378,654</td><td>$315,000</td><td>$246,000</td><td>356.52%</td></tr>
    <tr><td>Strickland</td><td>10/23/2013</td><td>SFR</td><td>Yarborough</td><td>J. Bullard</td><td>$174,835</td><td>$250,000</td><td>$213,000</td><td>$38,165</td><td>21.83%</td></tr>
    <tr><td>Y. Smith</td><td>10/23/2013</td><td>MHP</td><td>Yarborough</td><td>J. Bullard</td><td>$86,175</td><td>$145,000</td><td>$130,000</td><td>$43,825</td><td>50.86%</td></tr>
    <tr><td>Naylor</td><td>10/9/2013</td><td>SFR</td><td>Yarborough</td><td>J. Bullard</td><td>$15,600</td><td>$35,000</td><td>$31,200</td><td>$15,600</td><td>100.00%</td></tr>
    <tr><td>Canady</td><td>8/23/2013</td><td>SFR</td><td>Yarborough</td><td>J. Bullard</td><td>$86,675</td><td>$150,000</td><td>$130,000</td><td>$43,325</td><td>49.99%</td></tr>
    <tr class="highlight"><td>Bullard Family</td><td>2/26/2013</td><td>Retail</td><td>Yarborough</td><td>J. Bullard</td><td>$125,237</td><td>$487,897</td><td>$575,000</td><td>$449,763</td><td>359.13%</td></tr>
    <tr><td>Batton</td><td>12/12/2012</td><td>Interstate Land</td><td>Wilson</td><td>J. Bullard</td><td>$57,000</td><td>$690,368</td><td>$600,000</td><td>$543,000</td><td>952.63%</td></tr>
    <tr class="highlight"><td>Magnolia Lane</td><td>7/20/2012</td><td>Rest Home</td><td>Yarborough</td><td>J. Bullard</td><td>$125,000</td><td>$433,382</td><td>$275,000</td><td>$150,000</td><td>120.00%</td></tr>
    <tr><td>Bunce Family</td><td>6/14/2012</td><td>Restaurant</td><td>Yarborough</td><td>J. Bullard</td><td>$150,000</td><td>$389,582</td><td>$312,000</td><td>$162,000</td><td>108.00%</td></tr>
    <tr><td>W. Shaw</td><td>2/3/2012</td><td>Garage</td><td>Yarborough</td><td>J. Bullard</td><td>$56,383</td><td>$138,629</td><td>$105,000</td><td>$48,617</td><td>86.23%</td></tr>
    <tr><td>Turlington</td><td>4/16/2010</td><td>Garage</td><td>Haywood</td><td>J. Bullard</td><td>$110,000</td><td>$488,000</td><td>$350,000</td><td>$240,000</td><td>218.18%</td></tr>
    <tr><td>Phelps</td><td>10/20/2004</td><td>SFR Land</td><td>None</td><td>J. Bullard</td><td>$12,000</td><td>$35,020</td><td>$22,000</td><td>$10,000</td><td>83.33%</td></tr>
</tbody></table>
<hr>

<h3>Quasi-Judicial Hearings</h3>
<div class="subtitle">Impact Studies for Special/Conditional Use Permits</div>
<table>
<thead>
 <tr><th>Case #</th><th>Expert Witness</th><th>Jurisdiction</th><th>Appraiser's Testimony</th><th>Decision</th><th>Hearing</th></tr>
</thead>
 <tr><td>SU-11-17-1</td><td>B. Wills</td><td>Sampson County Planning Board</td><td>Towers Do Not Substantially Injure Adjoining & Abutting Property Values</td><td>Agree</td><td>11/20/2017</td></tr>
 <tr><td>P17-05-C</td><td>B. Wills</td><td>Cumberland County Board of Adjustment</td><td>Towers Are Not Detrimental or Injurious to Property Values of Surrounding Neighborhood</td><td>Agree</td><td>9/21/2017</td></tr>
 <tr><td>2017-124288</td><td>B. Wills</td><td>Robeson County Board of Commissioners</td><td>Towers Do Not Substantially Injure Adjoining & Abutting Property Values</td><td>Agree</td><td>8/7/2017</td></tr>
 <tr><td>2-17</td><td>B. Wills</td><td>Lenoir City Council</td><td>Towers Are Not Detrimental or Injurious to Property Values of Surrounding Neighborhood</td><td>Agree</td><td>5/2/2017</td></tr>
 <tr><td>SUP-2017-00006</td><td>B. Wills</td><td>Onslow County Zoning Board of Adjustment</td><td>Towers Are Not Detrimental or Injurious to Adjacent & Adjoining Property Values</td><td>Agree</td><td>4/25/2017</td></tr>
 <tr><td>SE2/17-1</td><td>B. Wills</td><td>Louisburg Town Council</td><td>Towers Are Not Detrimental or Injurious to Adjacent & Adjoining Property Values</td><td>Agree</td><td>3/20/2017</td></tr>
 <tr><td>Public Hearing 1</td><td>B. Wills</td><td>Moore County Planning Board</td><td>Mines Do Not Substantially Injure Adjacent & Abutting Property Values</td><td>Agree</td><td>7/7/2016</td></tr>
 <tr><td>P16-02-C</td><td>B. Wills</td><td>Cumberland County Board of Adjustment</td><td>Towers Are Not Detrimental or Injurious to Property Values of Surrounding Neighborhood</td><td>Agree</td><td>6/16/2016</td></tr>
 <tr><td>2016-05</td><td>B. Wills</td><td>Wilson County</td><td>Towers Do Not Negatively Influence Adjacent Owners' Property Values</td><td>Disagree</td><td>4/21/2016</td></tr>
 <tr><td>LSU2016-00011</td><td>B. Wills</td><td>Onslow County Zoning Board of Adjustment</td><td>Towers Are Not Detrimental or Injurious to Adjacent & Adjoining Property Values</td><td>Agree</td><td>3/22/2016</td></tr>
 <tr><td>LSU2016-00012</td><td>B. Wills</td><td>Onslow County Zoning Board of Adjustment</td><td>Towers Are Not Detrimental or Injurious to Adjacent & Adjoining Property Values</td><td>Agree</td><td>3/22/2016</td></tr>
 <tr><td>SU-10-15-3</td><td>B. Wills</td><td>Sampson County Planning Board</td><td>Mines Do Not Adversely Impact Adjacent Property Values</td><td>Disagree</td><td>12/28/2015</td></tr>
 <tr><td>CU15-06</td><td>B. Wills</td><td>Gaston County Zoning Board of Adjustment</td><td>Towers Are Not Detrimental or Injurious to Property Values of Surrounding Neighborhood</td><td>Agree</td><td>12/3/2015</td></tr>
 <tr><td>LSU2015-00063</td><td>B. Wills</td><td>Onslow County Zoning Board of Adjustment</td><td>Towers Are Not Detrimental or Injurious to Adjacent & Adjoining Property Values</td><td>Agree</td><td>11/24/2015</td></tr>
 <tr><td>SU-10-15-2</td><td>B. Wills</td><td>Sampson County Planning Board</td><td>Mines Do Not Adversely Impact Adjacent Property Values</td><td>Agree</td><td>11/16/2015</td></tr>
 <tr><td>SU-9-15-1</td><td>B. Wills</td><td>Sampson County Planning Board</td><td>Mines Do Not Adversely Impact Adjacent Property Values</td><td>Agree</td><td>9/21/2015</td></tr>
 <tr><td>P15-09-C</td><td>B. Wills</td><td>Cumberland County Board of Adjustment</td><td>Towers Are Not Detrimental or Injurious to Property Values of Surrounding Neighborhood</td><td>Agree</td><td>9/17/2015</td></tr>
</tbody></table>

{% endblock %}
