{% extends 'base.html' %}

{% block content %}

      <div class="contenttitle">
        Experience
      </div>

      Our Appraisers have expertise in many areas including the following:
      <ul style="font-weight:bold; ">
        <li>Manufacturing</li>
        <li>Wholesale and Distribution</li>
        <li>Retail</li>
        <li>Service Industries</li>
        <li>Health Care</li>
        <li>Construction</li>
        <li>Professional Practices</li>
        <li>Family Limited Partnerships</li>
        <li>Limited Liability Companies</li>
        <li>Sole Proprietorships</li>
        <li>Land and Project Developments</li>
        <li>Dealerships</li>
        <li>Convenience Store Chains</li>
        <li>Trucking Industry</li>
        <li>Agricultural Corporations</li>
        <li>Service Industries</li>
      </ul>

{% endblock %}
