{% extends 'base.html' %}

{% block content %}

<div class="contenttitle">
  Company History
</div>

<p>Founded in 1970, Tom Keith &amp; Associates, Inc. is a multidisciplinary appraisal firm with clients primarily in the Southeast United States. Most appraisals are performed for the owners, purchasers, lenders, and their advisors. Our business valuation clients range from the small one-person sole proprietorship to the regional companies. Our real estate appraisal clients range includes home owners and purchasers to the large Fortune 500 companies. Our success depends on referrals from attorneys, financial institutions, CPA's, our peers, and former clients. Our timely and properly documented valuation reports serve our client's needs in the most complex and demanding circumstances.</p>
<p>Our specialty in both business and real estate valuations provides our staff with expertise in the valuation of closely-held businesses with large real estate assets and expertise in the appraisal of special purpose real estate where its value is related to the business occupying the space. The firm's staff enjoys access to a number of extensive proprietary in-house data bases and outside data sources.</p>
<p>The firm is affiliated with Financial Valuation Group International, allowing us to increase our depths of experience, judgment, independence, and resources provided by its affiliates throughout the United States.</p>

{% endblock %}
