{% extends 'base.html' %}
{% load static from staticfiles %}
{% load get_media_prefix from static %}

{% block page_title %}Tom J. Keith &amp; Associates - North Carolina Real Estate and Business Appraisers{% endblock %}

{% block content %}
<div style="padding-bottom: 1em; text-align:justify;">Tom J. Keith &amp; Associates, Inc. is a 40 year old 10-member commercial and business valuation firm serving individuals and  many Fortune 500 firms and governments in the Southeast US. The members hold State and MAI certifications in commercial real estate and also ASA and CBA certifications in Business Valuations. Work has been performed on over 15,000 valuations amounting to several billion dollars for individual investors, developers, buyers, sellers, lenders, lessors and lessee, business owners and operators, CPA's, attorneys, lenders, for loan, gift, damage estimates, loss profits, sale, litigation, equitable distribution, contamination from industrial products, damages caused by proximity from quarries, mining operations, cell towers, land fills, and other adverse uses.</div>
<div>Specific assignments have included valuations of office buildings, restaurants, medical clinics, mobile home parks, petroleum facilities, manufacturing and warehouse facilities, large land tracts, wetlands, conservation easements, mining operations and other special purpose properties.</div> <br />
<div>The firm utilizes the latest technology in software, GIS data, and mapping equipment.</div>
<p><a href="{% url 'aboutus' %}">More About Us</a></p>
<p><a href="{% get_media_prefix %}misc/founders-history.pdf">Founder's History</a> </p>
<div style="text-align:center;"><hr style="color: #303030; width:90%;"/></div>
<div style="float:left; width: 75%;">
  <p style="font-weight:bold;">Featured Updates:</p>
  <p>Check out the <a href="{% url 'news' %}">latest company news</a></p>
  <p>The new <a href="{% get_media_prefix %}re-research/2014-residential-index.pdf">2014 Fayetteville Residential Index</a> is now available.</p>
  <p>A new study on <a href="{% get_media_prefix %}re-research/before-2009-recession.pdf">the absorption rate of the housing market in Cumberland County preceeding the 2009 recession</a> is now available.</p>
  <p>See our <a href="{% url 're-research' %}">Real Estate Research page</a> for a new study on <a href="{% get_media_prefix %}re-research/CellTowerRates.pdf">Cell Tower Rental Rates</a> in Cumberland County. There are also new studies on how cell towers and quarries damage surrounding properties. </p>

  <p>To view the <a href="{% get_media_prefix %}re-research/2014-residential-index.pdf">2014 Fayetteville Residential Index</a> or the <a href="{% get_media_prefix %}re-research/2015-apartment-index.pdf">Fayetteville Apartment Index</a>  and other real estate industry research <a href="{% url 're-research' %}">click here</a>.</p>
</div>
<div style="float:right; padding-top:2em; text-align:center;">
  <img src="{% static "images/fcglogo.gif" %}" alt="Financial Consulting Group Logo" width="80" height="106" style="border: 2px solid black; padding:10px 0;" /><br />
</div>

{% endblock %}
