{% extends 'base.html' %}
{% block content %}

<span style="font-weight:bold;">Also see our <a href="{% url 're-research' %}">Real Estate Research page</a>.</span><br /><br />

<div class="contenttitle">Real Estate Services</div>

<p>The firm's specialists prepare independent, objective real estate appraisals for the following reasons:</p>
<ul style="padding-left:2em;">
  <li>Gift and Estate Taxation and planning</li>
  <li>Equitable Distribution (Divorce)</li>
  <li>Review of other Reports</li>
  <li>Condemnation</li>
  <li>Loans</li>
  <li>Consulting</li>
  <li>Charitable contributions</li>
</ul>


<p>Our firm has expertise in many areas of real estate appraisal including the following:</p>
  <ul style="float:left; padding-left:2em;">
    <li>Manufacturing</li>
    <li>Wholesale and Distribution</li>
    <li>Retail</li>
    <li>Service Industries</li>
    <li>Health Care</li>
    <li>Construction</li>
    <li>Professional Practices</li>
    <li>Family Limited Partnerships</li>
  </ul>
  <ul style="float:left; padding-left:2.5em;">
    <li>Limited Liability Companies</li>
    <li>Sole Proprietorships</li>
    <li>Land and Project Developments</li>
    <li>Dealerships</li>
    <li>Convenience Store Chains</li>
    <li>Trucking Industry</li>
    <li>Agricultural Corporations</li>
    <li>Service Industries</li>
  </ul>

{% endblock %}
