{% extends 'base.html' %}

{% block content %}

  <div style="margin-right:auto; margin-left:auto">
    <table class="saltable" style="border-collapse: collapse; text-align:center;">
      <tr>
        <td colspan="5" style="font-weight:bold; font-size:130%; text-align:center">Estimated Gross Salary</td>
      </tr>
      <tr>
        <td colspan="5" style="text-align:center">(Based on 9 Employees From 1989-2001)</td>
      </tr>
      <tr>
        <td colspan="5" style="padding-top:1em; text-decoration:underline; font-size:120%; font-weight:bold; text-align:center">AS A TRAINEE / RESEARCHER</td>
      </tr>
      <tr>
        <td colspan="5" style="padding-bottom: 1em; text-align:center">(Compensation Based on 20% of Production)</td>
      </tr>
      <tr style="font-weight:bold">
        <td></td>
        <td>Year 1</td>
        <td>Year 2</td>
      </tr>
      <tr>
        <td>Low</td>
        <td>5,395</td>
        <td>9,675</td>
      </tr>
      <tr>
        <td>Average</td>
        <td>13,976</td>
        <td>20,687</td>
      </tr>
      <tr>
        <td>High</td>
        <td>28,405</td>
        <td>39,898</td>
      </tr>
      <tr>
        <td colspan="5" style="padding-top:1em; text-decoration:underline; font-size:120%; font-weight:bold; text-align:center">AS A CERTIFIED APPRAISER</td>
      </tr>
      <tr>
        <td colspan="5" style="padding-bottom: 1em; text-align:center">(Compensation Based on 40% of Production)</td>
      </tr>
      <tr style="font-weight:bold">
        <td></td>
        <td>Year 1</td>
        <td>Year 2</td>
        <td>Year 3</td>
        <td>Year 4</td>
      </tr>
      <tr>
        <td>Low</td>
        <td>17,771</td>
        <td>13,482</td>
        <td>19,664</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Average</td>
        <td>27,542</td>
        <td>47,636</td>
        <td>55,248</td>
        <td>-</td>
      </tr>
      <tr>
        <td>High</td>
        <td>69,004</td>
        <td>67,788</td>
        <td>78,064</td>
        <td>86,000</td>
      </tr>
    </table>
  </div>
  <div style="margin-top:1.5em;"> In Addition to Salary, Profit Sharing of up to 15% of Salary is Paid Annually<br />
    Profit Sharing has been paid continuously for the past 12 years<br />
    Annual Bonuses equaling 15% of Salary have been paid 8 of the last 10 years
  </div>
{% endblock %}
