{% extends 'base.html' %}

{% block content %}

<div class="contenttitle">
  Services
</div>

<ul style="font-weight:bold;">
  <li>Valuation of Closely-Held Businesses and Professional Practices</li>
  <li>Commercial and Residential Real Estate Appraisals</li>
  <li>Damage Appraisals</li>
  <li>Intangible Asset Valuation</li>
  <li>Intangible and Tangible Leasehold Valuation</li>
  <li>Purchase Price Allocations</li>
  <li>Discount Analysis</li>
  <li>Feasibility Studies</li>
  <li>Insurance Valuations</li>
  <li>Advalorem Tax Consulting</li>
  <li>Use Value Appraisals</li>
  <li>Fractional Interest Appraisals</li>
  <li>Expert Testimony</li>
  <li>Fairness Opinions</li>
</ul>

{% endblock %}
