import django
from django.contrib.auth.models import User
from django.db import transaction

django.setup()

users = {{ admin_users.__str__() }}

with transaction.atomic():
    for u in users:
        (user, created) = User.objects.get_or_create(username=u['username'])
        if created:
            user.set_password(u['password'])
            user.email = u['email']
            user.is_superuser = True
            user.is_staff = True
            user.first_name = u['first_name']
            user.last_name = u['last_name']
            user.save()
